name = "nextjs-shop"
main = ".open-next/worker.js"
compatibility_date = "2025-12-16"

# Bắt buộc để chạy Next.js trên Workers
compatibility_flags = ["nodejs_compat"]

# Static assets (public/, images, etc.)
[assets]
directory = ".open-next/cloudflare/assets"
binding = "ASSETS"

# Observability (tuỳ chọn)
[observability]
enabled = true

# KV cho Incremental Static Regeneration (ISR) hoặc cache
[[kv_namespaces]]
binding = "NEXT_INC_CACHE_KV"
id = "0c40c618577a0638b73ca1396bd5cb08"
# preview_id = "..."  # chỉ cần nếu bạn dùng wrangler dev + preview

# Self-reference (tùy chọn — chỉ cần nếu có routing loop)
[[services]]
binding = "WORKER_SELF_REFERENCE"
service = "nextjs-shop"