name = "restless-glade-0023"                     # Tên Worker bạn muốn
main = ".open-next/worker.js"            # OpenNext build output
compatibility_date = "2025-02-04"

# Observability (bật để log + metrics)
observability = { enabled = true }